body {
  margin: 0;
}
.title {
  font-size: 50px;
  color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#circle{
  transition:all 1s;
}
.btn-lg{
background-color: transparent;
border:1px solid rgba(255,255,255,0.5);
  border-radius: 50px;
  padding:10px 30px;
  color: rgba(255,255,255,1);
}
.btn-lg:active{
   border-radius: 50px;
   box-shadow: unset;
}
.wrap{

  height: 100vh;
 
}
.settings{
  position: absolute;
  top:5%;
  right: 5%;
  border:none;
  padding: 0;background-color: #FE9A8B;
}
